body {
    font-family: 'Poppins', sans-serif;
}

.center {
    padding: 200px;
    color: white;
    text-align: center;
    background-image: url(341ecb3733f192a8d6a4e5bd0fce673e.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.button {
    text-decoration: none;
    background-color: orangered;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
}


.part2 {
    color: black;
    text-align: center;
    margin: 5% 20%;
}

.paragraph {
    padding-bottom: 5%;
    color: rgba(0, 0, 0, 0.596);
}

.other {
    margin-top: 10%;
    color: rgba(0, 0, 0, 0.596);
    font-size: 13px;
}

.solid {
    border-top: 1px solid #bbb;
    margin-bottom: 5%;
}

.part2 span {
    margin: 3px;
    background-color: rgba(128, 128, 128, 0.329);
    padding: 30px;
    border-radius: 5px;
}

#abid {
    border: solid 2px solid red;
    background-color: ;
}